extends layout

mixin scriptMixin(src, nonce, isAsync=false)
  if isAsync
    script(nonce=nonce src=src async)
  else
    script(nonce=nonce src=src)

block content
  #wallpaper.wallpaper(data-image='images/austria.webp')
  .content
    aside.side
      picture.picture.is-loaded
        .picture-shadow
        source(type='image/webp' srcset='images/avatar.webp 800w, images/avatar-2x.webp 2x' sizes="(min-width: 800px) 160px, 80vw")
        img#pictureImage.picture-image(src='images/avatar.jpg' alt="Ruben's Portrait" width='320' height='320')
    main.about
      h1.name
        | Howdy, I'm Ruben Garcia
      p.job
        | Software Engineer | Frontend
      hr.hr
      .description
        p
          | I like to spend my days coding and figuring out how things work
      .contact
        a.button(href='mailto:rssanjuan2704@gmail.com')
          | Get in touch
      ul.social
        li
          a(href='https://github.com/sigfriedCub1990' aria-label='github')
            i.fab.fa-github
        li
          a(href='https://www.linkedin.com/in/rub%C3%A9n-salvador-garc%C3%ADa-san-juan-ab6735b5/' aria-label='linkedin')
            i.fab.fa-linkedin
        li
          a(href='https://codepen.io/sigfriedCub' aria-label='codepen')
            i.fab.fa-codepen
  +scriptMixin('/js/main.js', `${nonce}`)
  <!-- Scripts fontawesome -->
  +scriptMixin('https://kit.fontawesome.com/f10193348a.js', `${nonce}`, true)
